<div class = "container py-5">
  <div class = "row justify-content-center mb-4">
    <h1><%= @job.specialty %></h1>
  </div>
  <div class = "d-flex">
    <div class = "col rounded job-image d-flex-column my-auto">
      <div><%= image_tag "stethoscope.jpg", class:''%></div>
      <div class = "d-flex justify-content-center"><%= link_to 'Me canditadar', apply_path(:id) , class:'btn btn-primary my-4' %></div>
    </div>
    <div class = "col-9 ps-0 pt-4 border rounded ms-3 ps-4 pe-4">
      <div class = "pb-3 job-info">
        <p class="fw-bold">Descrição da vaga</p>
        <p><%= @job.description %></p>
        <br>
        <p class="fw-bold">Remuneração</p>
        <p><%= @job.value %> / <%= @job.value_period %></p>
        <br>
        <p class="fw-bold">Local de trabaho</p>
        <p><%= @job.clinic_name %></p>
        <p><%=@job.clinic_city %>/<%= @job.clinic_state %></p>
      </div>
    </div>
  </div>
</div>
